html { 
	overflow-y: scroll; 
}

body{
	background: #f6fcff;
	font-size: large;
	text-align: center;
	font-family: Helvetica;
}

/* media query scaling with ems */
@media (max-width: 500px) {
  body { font-size: medium; }
}

.header {
	text-align: center;
}

ul {
	display: inline-block;
	margin-bottom: 3vw;
	list-style-type: none;
}

ul li {
	font-family: "Helvetica-Bold";
	font-size: 50px;
	color: #000000;
	letter-spacing: 0px;
	text-align: left;
}

.header a {
	text-decoration: none;
	color: #000000;

}

.container {
	margin: .5em auto;
	text-align: center;
}

.search {
	position: relative;
	display: inline-block;
	width: 60%;
	vertical-align: middle;
	white-space: nowrap;


}

.search input {

	/* Rectangle 1: */
	-webkit-appearance:none;
	width: 100%;
	height: 2.5em;
	padding-left: 1em;
	padding-right: 1em;

	background: #f6fcff;
	border: 1px solid #979797;
	font-size: 1em;
	color: #63717f;

	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
  	border-radius: .5em;

/*  	box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
*/
}

.search .icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
	color: black;
}

input[type="search"]::-webkit-input-placeholder,
input[type="search"]:-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="search"]:-ms-input-placeholder {
   color: #65737e;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input:focus {
	outline: none; 
}

.results {
	text-align: center;
}



#solrstrap-hits, #solrstrap-facets {
	margin: 0 2em 0 2em;
}


.brand {
	float: center;	
}

#result-summary{
	margin-bottom:2em;
}

.facet, .chosen-facet {
    margin-bottom:20px; overflow: hidden; white-space: nowrap; 
}

.nav-title{text-transform:uppercase;font-weight:bold}

.entry { 
	margin-bottom: 10px;
	text-align: left; 
}

.entry a {
	text-align: center;
	text-decoration: none
}

.entry a:hover {
	text-decoration: underline;
}