/* results page */

@font-face {
	font-family: FGroteskBook;
	src: url(../fonts/F\ Grotesk\ Book.woff);
}

@font-face {
	font-family: FGroteskDemi;
	src: url(../fonts/F\ Grotesk\ Demi.woff);
}

html, body {
	background: #F6F3EE;
	font-family: FGroteskDemi, Helvetica, sans-serif;
	margin: 0;
	height: 100%;

	/* fix font weight being too bold on OSX Safari */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #007fff;
}

a:hover {
	color: #337ab7;
}

.container {
	min-height: 100%;
	padding-bottom: 48px;
}

.inner-wrap {
	width: 800px;
	padding: 20px 56px;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: auto;

	background: #FFFFFF;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border: none;
}




/* HEADER */

.header {
	text-align: center;
	padding: 16px;
	font-size: 32px;
	color: #000000;
}

.header a {
	text-decoration: none;
	color: #000000;
}





/* SEARCH BAR */

.search-container {
	overflow: hidden;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 24px;
}

.search-box {
	height: 56px;
}

#search-field {
	-webkit-appearance:none;
	padding: 0 32px 0 32px;

	width: 80%;
	height: 56px;
	float: left;

	background: #FFFFFF;
	border: 1px solid #B7B7B7;
	box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.13);
	border-radius: 4px;

	font-family: FGroteskDemi;
	font-size: 16px;
	color: #525252;
}

input[type="search"]::-webkit-input-placeholder,
input[type="search"]:-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="search"]:-ms-input-placeholder {
   color: #AEAEAE;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input:focus {
	outline: none; 
}

.search-button {
	float: right;
	height: 56px;
	box-sizing: border-box;
	background: #2D7BFF; 
	width: 18%;
	cursor: pointer;
	border-radius: 2px;

	border: none;
	-webkit-appearance: none;

	font-family: FGroteskDemi;
	font-size: 20px;
	color: #FFFFFF;
	padding: 0;
}





/* SEARCH RESULTS */

.results-container {
	margin-top: 16px;
}

.summary {
	text-align: center;
	font-size: 14px;
	margin-bottom: 16px;
}

.summary .no-results-head {
	margin-bottom: 24px;
}

.entry {
	position: relative;
	padding: 24px 0;
	border-top-color: rgba(0, 0, 0, 0.0980392);
	border-top-style: solid;
	border-top-width: 1px;
	font-family: FGroteskBook;
}

.entry-content {
	word-wrap: break-word;
	line-height: 140%;
}

.entry-content p {
	margin: 0;
}

.entry-footer {
	font-size: 15px;
	margin-top: 24px;
}

.view-in-context {
	display: inline-block;
	text-decoration: underline;
	margin-right: 24px;
}

.date-username {
	display: inline-block;
}

.mobile-outlink {
	top: 0;
	right: 0;
	position: absolute;
	margin-top: 20px;
	line-height:2em;
	vertical-align: middle;
	display:inline-block;
	color: #fff;
	text-align: center;
}



.reddit-outlink a {
	font-family: FGroteskDemi;
	font-size: 14px;
	color: #2D7BFF;
	padding: 12px 16px;
}


/* ERROR MESSAGE */

.error-message {
	display: none;
	margin-top: 6em;
	color: #000;
	text-align: center;
}

.error-message h3 {
	font-size: 66px;
}


.error-message a {
	color: #000;
	position: relative;
	display: inline;
	padding-top: 0.1em;
	border-bottom: 0.15em solid black;
	font-size: 32px;
}

.error-message a:hover {
	color: #2D7BFF;
	border-bottom: 0.15em solid #2D7BFF;
}

.error-message a:after {
    content: "↪ " attr(href);
	position: absolute;
	top: -0.5em;
	left: 0;
	font-size: 0.375em;
	white-space: nowrap;
	opacity: 0.4;
}



/* NAV BAR */

.nav {
	margin-top: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border: none;
}

.nav > div {
	text-align: center;
	display: none;
}

.next-page, .prev-page, .prev-prev-page {
	color: #666;
}

.next-page:hover, .prev-page:hover, .prev-prev-page:hover {
	cursor: pointer;
	color: #222;
}

.next-page .icon {
	margin-left: 6px;
}
.prev-page .icon {
	margin-right: 6px;
}

.prev-prev-page .icon {
	margin-right: 24px;
}

.middle-nav > * {
	display: inline-block;
}

.middle-nav .page-number {
	color: #222;
	margin: 0 32px;
}




/* MEDIA QUERIES */

@media (max-width: 800px) {
	
	body {
		background: #F8F7F7;
	}

	.inner-wrap {
		width: 96%;
		padding: 24px 32px;
	}

	.header {
		padding: 10px;
		font-size: 20px;
	}

	.summary {
		font-size: 13px;
	}

	.search-container {
		width: 96%;
	}

	#search-field, .search-button {
		margin-left: 0;
		margin-right: 0;
		border-radius: 2px;
	}

	.entry {
		font-size: 14px;
	}

	.entry-footer {
		font-size: 13px;
	}

	.view-in-context .date-username {
		display: block;
	}

	.view-in-context {
		margin-bottom: 4px;
	}

	.error-message {
		margin-top: 8em;
	}

	.error-message h3 {
		font-size: 36px;
	}

	.error-message a {
		margin-top: 7em;
	}

	.nav {
		padding: 16px 16px;
	}

	#search-field {
		height: 40px;
		font-size: 12px;
	}

	.search-button {
		height: 40px;
		font-size: 12px;
	}
}

@media (max-width: 350px) {
	.inner-wrap {
		padding: 24px 15px;
	}

	.nav {
		padding: 16px 16px;
	}
}

